.footer {
	background-color: #2b2d31;
	height: 13vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.myiconholder {
	height: 70%;
	vertical-align: middle;
	margin-top: 15px;
}

.myiconholder1 {
	height: 100%;
}

.myicon {
	height: 80%;
	transition: transform .2s;
	padding-right: 5px;
	padding-left: 5px;
}
.myicon:hover {
	transform: scale(1.25);
}
