.home {
	background-color: #343a40;
	height: 80vh;
}

@font-face {
	font-family: 'Drummon Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Drummon Regular'), url('DRUMMON_.woff') format('woff');
}

.height80 {
	height: 80vh;
}

.height30 {
	height: 25vh;
}

.height5 {
	height: 15vh;
}

.text-align-center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.text-align-center-down {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-wrap: wrap;
}

.text-align-center-up {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}

.hello {
	font-family: 'Drummon Regular';
}

@media screen and (min-width: 601px) {
	.myname {
		font-family: 'Drummon Regular';
		font-size: 350%;
	}
}

@media screen and (max-width: 600px) {
	.myname {
		font-family: 'Drummon Regular';
		font-size: 200%;
	}
}

.coloring {
	color: #48e0e8;
}

.letters {
	display: inline-block;
	padding: 0px 1px 0px 1px;
	margin: 0px;
}

.padding-right {
	padding: 0px 15px 0px 0px;
}

.inline {
	display: inline-block;
}
