@font-face {
	font-family: 'Drummon Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Drummon Regular'), url('DRUMMON_.woff') format('woff');
}

.specialfont {
	font-family: 'Drummon Regular';
}
